html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(54, 53, 53);
    color: whitesmoke;
   
    
}
/***************** header ***************** */

.some-changes {
    
    height: 100%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.avatar-img {
    height: 120px;
    width: 120px;
}
.titre-header {
    font-size: 8rem;
    text-transform: uppercase;
}
.flex {
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  
   
}
.liste {
    text-decoration: none;
    background: whitesmoke;
    padding: 10px;
    cursor: pointer;
   
}
a {
    text-decoration: none;
   color: black;
 
  
}


/********************** section1*************************** */
.section1 {
    background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)),
                url(./images/istockphoto-1297824394-612x612.jpg) center/cover fixed no-repeat;
    height: 300px;
    width:100%;
    background-color:rgb(54, 53, 53) ; /* Ajuste l'opacité ici */
    

}

.section-transform {
    padding:40px;
    
}
.text-decale {
   
    background: rgb(47, 46, 46);
    padding: 60px;
}

/* *********section2 ************ */
.decale {
    padding: 40px;
}

.decalage2 {
    padding: 60px;
    
}

/* **********section3**************** */
.section3 {
    background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)),
    url(./images/nik-shuliahin-JOzv_pAkcMk-unsplash.jpg) center/cover  fixed no-repeat;
    height: 100%;
    padding: 50px;
}
.generaux {
   height: 100%;
   max-width: 900px;
   margin: 0 auto;
   background: rgb(54, 53, 53);
  padding: 50px;
  
}
.grille {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
 
   
}
.mensuration {
    height: 150px;
    width: 150px;
}